<html>
   <head>
       <title>Example 3</title>
   </head>
     <body>
         <a href="demo2.html">
             <h3> Click to open example 2</h3>
         </a>
         <a href="demo2.html" target="_blank">
             <h3>open new tab</h3>
         </a>
         <a href="http://facebook.com" target="_blank">
         <h3> Click to open Facebook</h3>
         </a>
         <img src="static/pic.jpg" width="150" height="180" class="jp-icon0-hover">
         <br>
         <audio src="static/01%20-%20Bharat%20Ane%20Nenu.mp3" controls>
         </audio>
         <br>
         Video: <video src="static/panja.mp4" controls>

         </video>
         <br>
         <iframe width="560" height="315"
                 src="https://www.youtube.com/embed/pd_0x7SlSws?controls=1&mute=1"
                 title="YouTube video player"
                 frameborder="0" allow="accelerometer;
                 autoplay; clipboard-write; encrypted-media;
                 gyroscope; picture-in-picture" allowfullscreen>

         </iframe>
     </body>
</html>