<html>
    <head>
        <title>Example2</title>
    </head>
    <body style="background-color: aliceblue">
         <h1 align="center">Examples</h1>
    <table border="2" align="center" width="80%" class="bg-primary">
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee Salary</th>
        </tr>
        <tr>
        <td align="center"> 101 </td>
        <td align="center">Eswar</td>
        <td align="center">47867</td>
        </tr>
        <tr>
            <td align="center">102</td>
            <td align="center">Hima</td>
            <td align="center">40000</td>
        </tr>
        <tr>
            <td align="center">103</td>
            <td align="center">Bhaskar</td>
            <td align="center">59000</td>
        </tr>

    </table>
    <hr>
                <table align="center" border="2">
                    <tr>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Employee Salary</th>
                        <th colspan="3">Employee Contact</th>
                    </tr>
                    <tr>
                        <th colspan="3"></th>
                        <th>Mobile 1</th>
                        <th>Mobile 2</th>
                        <th>Mobile 3</th>
                    </tr>
                    <tr>
                        <td align="center">101</td>
                        <td align="center">Eswar</td>
                        <td align="center">47867</td>
                        <td align="center">9876543210</td>
                        <td align="center">9876543211</td>
                        <td align="center">9876543212</td>
                    </tr>
                    <tr>
                        <td align="center">101</td>
                        <td align="center">Eswar</td>
                        <td align="center">47867</td>
                        <td align="center">9876543210</td>
                        <td align="center">9876543211</td>
                        <td align="center">9876543212</td>
                    </tr>
                    <tr>
                        <td align="center">101</td>
                        <td align="center">Eswar</td>
                        <td align="center">47867</td>
                        <td align="center">9876543210</td>
                        <td align="center">9876543211</td>
                        <td align="center">9876543212</td>
                    </tr>
                </table>
    </body>
</html>